.header{
    position:fixed;
    display: block;
    box-sizing:border-box;
    width:1300px;
    height:220px;
    min-height: 60px;
    background-color:#0f9fea;
    margin-left: 230px;
    margin-top: -220px;
}