.flex-box{
  position: absolute;
  display: flex;
  background-color:#fff;
  width: 630px;
  height: 2000px;
  margin-left: 300px;
  margin-top: 320px;

}
.header-text{
  display:flex;
  box-sizing: border-box;
  height:50px;
  width:700px;
  background-color:#fff;
  margin-left: 0px;
  margin-top: 0px;
}
.title{
  font-size: 2.1rem;
  font-weight: 400;
  color: #707585;
  font-family: Open-Sans,sans-serif;
  margin-left: 30px;
  margin-top: 20px;
}
.btn-link{
  font-weight: 400;
  padding:0;
  border-radius:0;
  border:0;
  font-family: Open-Sans,sans-serif;
  color: #0f9fea;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 800px;
  font-size: 140%;
  padding-top: 10px;
  position:relative;
  }
.btn-link1{
  font-weight: 400;
  font-family: Open-Sans,sans-serif;
  color: #0f9fea;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 7px;
  font-size: 140%;
  padding-top: 10px;
  margin-top: 100px;
  position:relative;
  
}
.button{
  background-color: transparent;
  margin-left: 160px;
  margin-top: 15px;
  color: #0f9fea;
  font-size: 65%;
  cursor: pointer;
 }
 .tab-box{
  margin-left:-625px;
  margin-top: 75px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(208,210,216,.6);
  width:700px;
  height:50px;
  padding:0px 20px 0px 20px;
 }
 .tab-box ul{
   padding:0;
   list-style: none;
 }
.tab-box ul li{
  box-sizing: border-box;
  margin-left: 10px;
  background-color: rgba(208,210,216,.6);
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
 
}
.tab-box ul li a{
  font-weight: 400;
  font-size: 14px;
  color: #2a2c32;
  text-decoration: none;
  transition: all 0.3s ease;
  text-transform:capitalize;
  font-family: Open-Sans,sans-serif;
  cursor:pointer;
}
.menuitem:hover .sub-menu{
  opacity: 1;
  visibility: visible;
}
.sub-menu{
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  width:220px;
  position:absolute;
  left:0;
  top:0;
  background-color: #fff;
  list-style-type: square;
  margin-left: 320px;
  margin-top: 150px;
  opacity: 0;
  visibility: hidden;
}
.menu1{
  display: list-item;
}
.menu1 a{
 display:block;
 font-size:14px;
 transition: all 0.3s ease;
 text-transform: capitalize; 
}
  
.content-box{
  width: 700px;
  background-color:#fff;
  margin-left:-635px;
  margin-top:126px;
  box-sizing: border-box;
  display:block;
}
.content-box ul{
  list-style: none;
}

.content-box ul li{
  padding-top: 20px;
    border-bottom: 1px solid #d0d2d8;
    margin-left: 30px;
    height:100px;
    width: 540px;
    background-color:#fff;
    margin-top: 50px;
    box-sizing: border-box;
}
.tab-box ul li arrow{
  margin-left:100px;
}
.media__img {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 2.5rem;
  margin-top:70px;
}
